*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.App {
  width: 70%;
  margin: 0 auto;
}

.accordion-container {
  padding: 2rem;
  background-color: aquamarine;
  border: 5px solid orange;
  margin: 0;
  border-bottom: none;
}

.accordion-container:last-child {
  border-bottom: 5px solid orange;
}

.accordion-title {
  margin: 0;
  padding: 1.5rem;
}

.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: coral;
}

.accordion-body {
  padding: 2rem;
  font-size: 1rem;
  margin: 0;
  font-weight: normal;
  background-color: darkgray;
}

.btn-toggle {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  font-size: 1rem;
  font-weight: 200;
  padding: 1rem;
}
